.list-container{
    height: 95vh;
    padding: 15px 5px;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1{
        margin-left: 25px;
        font-size: 45px;
    }
}

.list{
    width: 95%;
    overflow: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 90%;
    h1{
        font-weight: 800;
    }
}

.note{
    padding: 15px;
    list-style: none;
    width: 85%;
    height: 120px;
    margin: 10px;
    overflow: hidden;
    position: relative;
    transition: .5s ease-in-out all;
    border-radius: 10px;
    background: transparent;
    cursor: pointer;
    &:hover{
        background: rgba(255, 255, 255, 0.664);
    }
    .date{
        font-size: 30px;
        font-family: inherit;
        font-weight: 700;
    }
}
        .preview{
            margin: 15px;
            font-size: 20px;
            line-height: 25px;
            max-width: 660px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space:nowrap;
        }
