.edit-nav{
    width: 97%;
    display: grid;
    grid-template-columns: 25% 25% 50%;
    grid-column-gap: 10px;
    justify-content: center;
    .edit {
        cursor: pointer;
        font-family: inherit;
        transition: .5s ease-in-out all;
        height: 50px;
        width: 100%;
        font-size: 20px;
        background:  rgba(255, 255, 255, 0.5);
        border-radius: 5px;
        border: none;
        box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    }
    .edit-ready{
        @extend .edit;
        background: rgb(192, 231, 211);
    }
}