.App {
  font-family: 'Raleway', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notes-container{
  width:100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 25px;
  position: relative;
  align-items: center;
  overflow: hidden;
}

h1{
  font-weight: 600;
  font-size: 30px;
}