.notepad-container{
    width: 90%;
    height: 95vh;
    padding: 15px 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

    h1{
        align-self: flex-start;
        font-size: 45px;
    }

.notepad{
    height: 70vh;
    width: 97%;
    font-size:20px;
    font-family: inherit;
    resize: none;
    outline: none;
    display:flex;
    flex-direction: column;
    border: none;
    overflow: auto;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.5);
    padding: 15px;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.save{
    cursor: pointer;
    font-size: 22px;
    font-family: inherit;
    transition: .5s ease-in-out all;
    font-weight: 600;
    height: 50px;
        width: 100%;
        background:  rgba(255, 255, 255, 0.5);
        border-radius: 5px;
        border: none;
        box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.save-ready{
    @extend .save;
    background: rgb(192, 231, 211);
}